<div class="row">
    <h1>Hard & Soft Skills</h1>
    
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        
        <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [imageSrc]="'../assets/html.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [outerStrokeColor]="'orange'"
      [innerStrokeColor]="'orange'"
      [animation]="true"
      [animationDuration]="1000"
    ></circle-progress>
    <h5>HTML 5 - 85%</h5>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
       
        <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [imageSrc]="'../assets/CSS.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [outerStrokeColor]="'aqua'"
      [innerStrokeColor]="'aqua'"
      [animation]="true"
      [animationDuration]="1000"
    ></circle-progress>
    <h5>CSS - 85%</h5>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
       
        <circle-progress
      [percent]="70"
      [radius]="100"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [imageSrc]="'../assets/js.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [outerStrokeColor]="'yellow'"
      [innerStrokeColor]="'yellow'"
      [animation]="true"
      [animationDuration]="1000"
    ></circle-progress>
    <h5>Javascript - 70%</h5>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
       
        <circle-progress
      [percent]="100"
      [radius]="100"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [imageSrc]="'../assets/photoshop.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [outerStrokeColor]="'blue'"
      [innerStrokeColor]="'blue'"
      [animation]="true"
      [animationDuration]="1000"
    ></circle-progress>
    <h5>Photoshop - 100%</h5>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
      
        <circle-progress
      [percent]="90"
      [radius]="100"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [imageSrc]="'../assets/after.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [outerStrokeColor]="'pink'"
      [innerStrokeColor]="'pink'"
      [animation]="true"
      [animationDuration]="1000"
    ></circle-progress>
    <h5>After Effects - 90%</h5>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
       
        <circle-progress
      [percent]="90"
      [radius]="100"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [imageSrc]="'../assets/premiere.jpg'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [outerStrokeColor]="'purple'"
      [innerStrokeColor]="'purple'"
      [animation]="true"
      [animationDuration]="1000"
    ></circle-progress>
    <h5>Premiere - 90%</h5>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
       
        <circle-progress
      [percent]="60"
      [radius]="100"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [imageSrc]="'../assets/github.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [outerStrokeColor]="'black'"
      [innerStrokeColor]="'black'"
      [animation]="true"
      [animationDuration]="1000"
    ></circle-progress>
    <h5>Github- 60%</h5>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        
        <circle-progress
      [percent]="100"
      [radius]="100"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [imageSrc]="'../assets/eng.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [outerStrokeColor]="'red'"
      [innerStrokeColor]="'red'"
      [animation]="true"
      [animationDuration]="1000"
    ></circle-progress>
    <h5>Inglés- 100%</h5>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        
        <circle-progress
      [percent]="100"
      [radius]="100"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="4"
      [imageSrc]="'../assets/eng.png'"
      [showImage]="true"
      [imageHeight]="80"
      [imageWidth]="80"
      [outerStrokeColor]="'grey'"
      [innerStrokeColor]="'grey'"
      [animation]="true"
      [animationDuration]="1000"
    ></circle-progress>
    <h5>Trabajo en equipo - 100%</h5>
    </div>
</div>

