<div class="row">
    <h1>Proyectos Realizados</h1>
        <div class="contenedor">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h2> Proyecto 1</h2>
                    <p>Lorem ipsum dolor sit amet consectetur 
                        adipisicing elit. Excepturi aliquam, 
                        consectetur ea nisi vero, quo numquam 
                        eveniet fuga ab ut vitae 
                        amet illum velit in dolores atque eaque, 
                        ipsum maiores.</p>
            </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offste-lg-1 parte2">
            <p>Poner img del proyecto</p>
            <img src="../../../assets/banner.JPG" class="img-fluid img-proyecto">
        </div>
        </div>
</div>
