<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logoAP.png" id="logoAP">
        </div>
        <div class="redes">
        
                <a href="https://instagram.com/erika_ft_lola"> <img src="../../../assets/instagram.png" id="instagram"> </a> <!-- Instagram-->
                <a href="https://github.com/Erika-Pardo"> <img src="../../../assets/github.png" id="github"> </a> <!-- Github-->
                <a href="https://www.linkedin.com/in/erika-pardo/"> <img src="../../../assets/linkedin.png" id="linkedin"> </a> <!-- Linkedin-->
              <button type="button" class="btn btn-outline-light" (click)="login()">INICIAR SESIÓN</button>
    
        </div>
    </div>

</div>


